# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/
/build

# Local environment files
.env
.env.local
.env.*.local
.env.example.local

# Keep the safe template in Git
!.env.example

# Vercel
.vercel

# Testing / coverage
/coverage

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
